

footer {
  padding-top: 1rem;
  margin-top: 1rem;

  display: flex;
  flex-direction: column;

  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: #ca9a51;
  box-shadow: inset 6px 6px 5px #7d5f32,
              inset -6px -6px 5px #ffd570;
}

footer:last-child{
  padding-bottom: 2rem;
}

footer hr {
  width: 90dvw;
  height: 5px;
  border-radius: 50%;
  margin: 1rem auto;
  max-width: 700px;

  border: none;
}

.footer-section {
  padding: 1rem;
  padding-top: 2rem;

  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 600px;
  height: 100%;

  align-items: center;
  margin: auto;
  margin-bottom: 1rem;

}

.footer-section h3 {
  font-size: 20pt;
  margin-bottom: 3rem;
}

.footer-nav {
  width: 100%;
}

.footer-nav ul {
  width: 100%;
  margin: auto;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-nav a {
  width: 90px;
  height: 90px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  background: linear-gradient(to bottom right, #eec07a, #b4915d);
  box-shadow:  5px 5px 12px #69502a;
}

.footer-nav a img {
  width: 60px;
}

footer form {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 500px;

  gap: 1rem;
}

footer form input {
  width: 90%;
  height: 50px;

  padding: 0 1rem;
  margin: auto;

  border: none;

  border-radius: 7px;
  background: #ffffff88;
  box-shadow:  3px 3px 6px #5d4725;

  font-size: 13pt;
  font-weight: 700;
  color: #5d4725;
  letter-spacing: 1px;

  -webkit-tap-highlight-color: transparent;
}

footer form input:focus {
  border: none;
  outline: none;
  background: #fff5;
}

footer form input::selection {
  background: #fff3;
}

footer form input::placeholder {
  color: #5d4725;
  font-weight: 500;
  font-size: 13pt;
}

.submit-button {
  margin-top: 1rem;
  height: 50px;

  letter-spacing: 2px;

  font-size: 20pt;
  font-weight: 800;

  border-radius: 4px;
  background: linear-gradient(to bottom right, #fbc677, #b4915d);
  box-shadow:  3px 3px 6px #5d4725;
  -webkit-tap-highlight-color: #fff2;

  color: #ffffff;
}