@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-raleway: "Raleway", sans-serif;
  --font-playwrite: "Playwrite HU", cursive;

  /* Colors for BG */
  --background-color-1: #bb7c1c;
  --background-color-0: #ca9a51;

  /* Text colors */
  --smoked-white: #f5f5f5;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: var(--font-raleway);
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1{
  color: var(--smoked-white);
}

html{
  color-scheme: light;
}

main, footer {
  position: relative;
  top: 10dvh;
}

#navigation {
  background-color: var(--background-color-0);
}

#navigation button {
  background-color: var(--background-color-0);
}

#menu {
  background-color: var(--background-color-0);
}

.hide {
  display: none
}

.show-flex-col {
  display: flex;
  flex-direction: column;
}