
.slider {
  width: 100dvw;
  max-width: 900px;
  height: 450px;

  margin: 2rem auto;
  padding: 10% 0;
  direction: ltr;
  overflow: hidden;
}

.slides {
  height: 85%;

  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 100%;
  gap: 2rem;

  padding: 1rem;
  margin: auto;

  transition: all .8s ease-in-out;
}

.slide {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 1rem;
}

.buttons {
  display: flex;
  gap: 3rem;

  max-width: 600px;
  margin: auto;

  align-items: center;
  justify-content: center;

  height: 15%;
}

.radio-slider {
  width: 15px;
  height: 15px;

  transition: background-color .1s ease-in-out, scale .3s ease-in-out;
  -webkit-tap-highlight-color: transparent;

  cursor: pointer;
  user-select: none;
}


@media (min-width: 700px){
  .slider{ padding: 1rem 0; }
  .slides {
    transition: all .7s ease-in-out;
  }
}
